.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px 368px; */
}


.description {
    color: var(--black);
    background-color: var(--white);
}

.description-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.description-info-element {
    padding: 10px;
}


.methods {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}